.find-movie-container {
  margin: 20px 0;
}

.input-search {
  height: 44px;
  margin-right: 20px;
}

.btn-search {
  background-color: #f65251;
  border: none;
  border-radius: 3px;
  color: #fff;
  height: 50px;
  padding: 10px 20px;
  text-align: center;
}